{% extends 'store/base.html' %}
{% load bootstrap4 %}
{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-5">
        <div class="card p-4">
            <h2 class="text-center mb-4">Nouveau mot de passe</h2>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success btn-block">Changer le mot de passe</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
